<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Store</h1>
    <p>This is the home page of the store application.</p>
    <p>Feel free to explore our products and services.</p>
    <ul>
        {% for product in products %}
            <li> 
            <b> {{ product.name }} </b>
            <p> id: {{ product.id }}  </p>
            <p> price: {{ product.price }} </p>
            </li> 
        {% endfor %}
    </ul>
</body>
</html>